alias ..='cd ..'

if command -v bat >/dev/null 2>&1; then
  alias cat='bat --paging=never'
fi

if command -v nvim >/dev/null 2>&1; then
  alias vim='nvim'
  alias vi='nvim'
fi

if command -v exa >/dev/null 2>&1; then
  alias ls='exa -lah'
else
  alias ls='ls --color=auto'
fi

if command -v btop >/dev/null 2>&1; then
  alias top='btop'
fi

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'