[init]
  defaultBranch = main

# Temporarily disabling, as it's causing issues with installing
#   zplug in ansible
# May in the future no longer use the install.sh and instead
#  allow ansible to manage installing the dotfiles

# [url "git@github.com:"]
#   insteadOf = https://github.com/

[fetch]
  prune = true

[alias]
  br   = "branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate"
  cb   = "checkout -b"
  co   = "checkout"
  d    = "diff"
  del  = "branch -D"
  last = "log -1 HEAD --stat"
  lg = "git log --graph --pretty=format:'%C(magenta)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
  s    = "status -sb"
