[init]
  defaultBranch = main

# Temporarily disabling, as it's causing issues with installing
#   zplug in ansible
# May in the future no longer use the install.sh and instead
#  allow ansible to manage installing the dotfiles

# [url "git@github.com:"]
#   insteadOf = https://github.com/

[fetch]
  prune = true

[alias]
  br   = "forgit checkout_branch"
  b    = "forgit checkout_branch"
  cb   = "checkout -b"
  co   = "checkout"
  d    = "forgit branch_delete"
  del  = "forgit branch_delete"
  ga   = "forgit add"
  gi   = "forgit ignore"
  l    = "forgit log"
  last = "log -1 HEAD --stat"
  s    = "status -sb"
[user]
	email = git@techsquidtv.com
	name = KyleTryon
[safe]
	directory = /tmp/Ansible-Magic-Shellbook
	directory = /home/techsquidtv/.oh-my-zsh/custom/plugins/forgit
