[init]
  defaultBranch = main

[core]
   autocrlf = true

# Temporarily disabling, as it's causing issues with installing
#   zplug in ansible
# May in the future no longer use the install.sh and instead
#  allow ansible to manage installing the dotfiles

# [url "git@github.com:"]
#   insteadOf = https://github.com/

[fetch]
  prune = true